@media (max-width: 767.98px) {

	.navbar-dropdown .navbar-logo img {
		height: 30px !important;
	}
	.navbar-dropdown .navbar-nav > li > a:hover{
		letter-spacing: 2px !important;
	}
	#dropdown-menu-2btn-93 .navbar, #dropdown-menu-2btn-93 .dropdown-menu {
		padding-left: 25px !important;
		padding-right: 25px !important;
	}


}