
{% extends 'basic.html' %}
{% block title %}
404 PAGE 
{% endblock title %}
{% load static %}

{% block body %}

<section id="page-content" class="page-wrapper">
    <section class="mbr-section mbr-section--relative mbr-section--fixed-size mbr-parallax-background mbr-after-navbar"
        id="content5-94" data-rv-view="79"
        >
        <div class="mbr-section__container container mbr-section__container--isolated">
            <div class="mbr-header mbr-header--wysiwyg ">
                <div >
                    <div class="text-center container" style="align-items: center;
                        display: flex;
                        flex-direction: column;">
                            <div style="font-size: 8rem; margin-bottom: 20px;">😕</div>
                            <h1>Oops! Page Not Found</h1>
                            <p>We couldn't find the page you were looking for.</p>
                            <a class="btn btn-primary" href="/">Go back to Home</a>
                    </div> 

                </div>
            </div>
        </div>
    </section>
     
</section>


{% endblock body %}
