<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<div style = "max-width:1000px; margin: 0 auto; ">
  <div >
    <div style="padding:30px; text-align:center; margin:0; font-size:1.3em; font-family: 'Source Sans Pro', sans-serif;  letter-spacing:1px;">
      <h1 style="font-family: 'Kaushan Script', cursive; font-size:4em; letter-spacing:3px;
  color:#10529b  ;
  margin:0;
  margin-bottom:20px;">Application Sent Successfully!</h1>
     <p>Thank you for your application to AMIR Lab. We will be in touch shortly with additional information regarding the selection round.</p>
<!--       <button class="login">
      Login
      </button> -->
    </div>
    <div  style="margin:0; padding-left: 350px;
  font-size:1.3em;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing:1px;">
      <p>Please connect with us on: </p>
    </div>>
      
    <table style="border:0;
  padding-left:350px;
  width:100%;
  max-width:600px;">
          <tr>
            
            <td align="center" valign="top" style="padding: 36px 24px;">
              <a href="https://www.facebook.com/amirlabbd" target="_blank" style="display: inline-block;">
                <img src="https://upload.wikimedia.org/wikipedia/commons/b/b9/2023_Facebook_icon.svg" alt="Logo" border="0" width="48" style="display: block; width: 48px; max-width: 48px; min-width: 48px;">
              </a>
            </td>
             <td align="center" valign="top" style="padding: 36px 24px;">
              <a href="https://www.linkedin.com/company/advanced-machine-intelligence-research-lab-amirl/" target="_blank" style="display: inline-block;">
                <img src="https://upload.wikimedia.org/wikipedia/commons/c/ca/LinkedIn_logo_initials.png" alt="Logo" border="0" width="48" style="display: block; width: 48px; max-width: 48px; min-width: 48px;">
              </a>
            </td>
             <td align="center" valign="top" style="padding: 36px 24px;">
              <a href="https://twitter.com/amirlabbd" target="_blank" style="display: inline-block;">
                <img src="https://upload.wikimedia.org/wikipedia/commons/6/6f/Logo_of_Twitter.svg" alt="Logo" border="0" width="48" style="display: block; width: 48px; max-width: 48px; min-width: 48px;">
              </a>
            </td>
          </tr>
        </table>
    
    
    
</div>
</div>



<link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Source+Sans+Pro" rel="stylesheet">
</body>
</html>


