{% extends 'basic.html' %}


{% load static %}
{% block body %}
    <section class="mbr-section mbr-section--relative mbr-section--fixed-size mbr-parallax-background mbr-after-navbar"
        id="content5-94" data-rv-view="79"
        style="background-image: url(assets/images/4.jpg);">
        <div class="mbr-section__container container mbr-section__container--isolated">
            <div class="mbr-header mbr-header--wysiwyg row">
                <div class="col-sm-8 col-sm-offset-2">
                    <h3 class="mbr-header__text">CONTACT</h3>

                </div>
            </div>
        </div>
    </section>


{% comment %} <h1>Contact Us</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="form-actions">
      <button type="submit">Send</button>
    </div>
</form> {% endcomment %}


<section id="page-content" class="page-wrapper">
    <div class="contact-wrapper">
        <div class="contact_area ">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="form_area">
                            <div class="form_title">
                                <h1 class="pb-40">Get in Touch</h1>
                                <p>You can contact us any way that is convenient for you. We are available 24/7 via fax or email. You can also use a quick contact form below or visit our office personally. We would be happy to answer your questions.</p>
                            </div>
                            <form action="">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form_wrap pb-30">
                                            <label for="fname">First name:</label><br>
                                            <input type="text" id="fname" name="fname" placeholder="Provide First Name">
                                        </div>
                                        <div class="form_wrap pb-30">
                                            <label for="lname">E-mail:</label><br>
                                            <input type="text" id="lname" name="fname" placeholder="Provide Email Here...">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form_wrap pb-30">
                                            <label for="lname">Last name:</label><br>
                                            <input type="text" id="lname" name="lname" placeholder="Provide Last Name">
                                        </div>
                                        <div class="form_wrap pb-30">
                                            <label for="lname">Phone:</label><br>
                                            <input type="text" id="lname" name="lname" placeholder="Provide Phone Number...">
                                        </div>
                                    </div>
                                    <div class="form_wrap pb-20 pl-15">
                                        <label for="message">Message:</label><br>
                                        <textarea id="message" name="message" rows="8" cols="0" placeholder="Type Your Message Here..."></textarea>
                                    </div>
                                    <div class="form_button pl-15">
                                        <button type="submit">Send Message</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="contact_info">
                                    <div class="info_wrap">
                                        <h4>Social</h4>
                                        <div class="info_details social">
                                            <div class=" cart_design">
                                                <a href="{{info.linkedin}}"><i class="fa fa-linkedin"></i></a>
                                                <a href="{{info.twitter}}"><i class="fa fa-twitter"></i></a>
                                                <a href="{{info.facebook}}"><i class="fa fa-facebook"></i></a>
                                                <a href="{{info.youtube}}"><i class="fa fa-youtube"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="info_wrap">
                                        <h4>Phones</h4>
                                        <div class="info_details">
                                            <div class="info_cart ">
                                                <i class="fa fa-phone"></i>
                                                <a href="tel:{{info.phone}}"><P>{{info.phone}}</P></a>
                                            </div>
                                            <div class="info_cart ">
                                                <i class="fa fa-phone"></i>
                                                <a href="tel:{{info.phone}}"><P>{{info.phone2}}</P></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="info_wrap">
                                        <h4>E-mail</h4>
                                        <div class="info_details">
                                            <div class="info_cart ">
                                                <i class="fa fa-envelope"></i>
                                                <a href="mailto:info@bubt.edu.bd"><P>{{info.email}}</P></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="info_wrap">
                                        <h4>Address</h4>
                                        <div class="info_details">
                                            <div class="info_cart ">
                                                <i class="fa fa-map-marker"></i>
                                                <P>{{info.address}}</P>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="info_wrap">
                                        <h4>Opening Hours</h4>
                                        <div class="info_details info_cart c_schedule">
                                            <i class="fa fa-calendar"></i>
                                            <div class="schedule">
                                                <P>{{info.opening_hours|safe}}</P>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="map_area">
        {% comment %} <div id="googleMap" style="width:100%;height:400px;"></div> {% endcomment %}
        <div id="googleMap">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2048.6029682140343!2d90.35691134505186!3d23.811647362333602!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c12015382851%3A0x3ceca92fcf1a72d2!2sBangladesh%20University%20of%20Business%20and%20Technology%20(BUBT)!5e0!3m2!1sen!2sbd!4v1669829130309!5m2!1sen!2sbd" width="100%" height="450px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

    </div>
</section>

{% endblock %}



