
{% extends 'base.html' %}
{% block title %}
AMIRL | Details Page
{% endblock title %}
{% load static %}

{% block body %}

<section id="page-content" class="page-wrapper">
    <div class="allnotice-wrapper">
        <div class="allnotice-detail_area ptb-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="details_notice_area"> 
                            {% if post.title %} 
                            <div class="notice_header">
                                <h2>{{post.title}}</h2>
                            </div>
                            {% endif %}
                            {% if post.created_on %}
                            <div class="sn_date">
                                <i class="fa fa-calendar"></i>
                                <p><em>{{post.created_on|date:"d M Y"}}</em></p>
                            </div>
                            {% endif %}
                            <div class="notice_body n_details">
                                {% if post.photo %}
                                <img src="{{ post.photo.url }}" alt="">
                                {% endif %}
                                {% if post.details %}
                                <p>
                                    {{post.details | safe}}
                                </p>
                                {% endif %}
                                {% if post.content %}
                                <p>
                                    {{post.content | safe}}
                                </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </div>
        {% if post.total_views %}
        <p>This page viewed total {{post.total_views}} times</p>
        {% endif %}
    </div>
</section>

{% endblock %}