{% extends 'basic.html' %}

{% block title %}
{{d}}{{s}}
{% endblock title %}


{% load static %}
{% block body %}

    <section class="mbr-section mbr-section--relative mbr-section--fixed-size mbr-parallax-background mbr-after-navbar"
        id="content5-94" data-rv-view="79"
        style="background-image: url({% static '/images/4.jpg' %});">
        <div class="mbr-section__container container mbr-section__container--isolated">
            <div class="mbr-header mbr-header--wysiwyg row">
                <div class="col-sm-8 col-sm-offset-2">
                    <h3 class="mbr-header__text">{{d}}</h3>

                </div>
            </div>
        </div>
    </section>

    <div class="people_area ptb-80">
        <div class="container">
             <div class="message_title">
                            <div class="committee_title">
                                <h3>{{d}}</h3>
                            </div>
                            <div><p style="color:black !important; text-align: justify;">{{topic.short_bio}}</p></div>
            </div> 
            <div class="row">
                <div class="col-md-12">
                    <div class="rf_outerwrap">
                        <div class="rf_title" id="team3">
                            <div class="message_title">
                                <div class="committee_title">
                                    <h3>Head of the <span> Department </span></h3>
                                    <!-- <img src="{% static 'images/MIR-Icon.png' %}" alt="BUBT Logo"> -->
                                </div>
                            </div>
                        </div>
                        
                        <div class="people_list">
                            <div class="row">
                                <div class="col-md-4"></div>
                                {% for advisor in heads %}
                                <div class="col-md-4">
                                    <div class="single_people"style="margin: 0px 47px 20px 47px;">
                                        <div class="single_people_image">
                                            {% if advisor.people.img %}
                                            <img src="{{advisor.people.img.url}}" alt="photo">
                                            {% endif %}
                                            
                                        </div>
                                        <div class="single_people_bio">
                                            <div class="name">
                                                <a href="{% url 'peopleDetailsView' advisor.people.slug %}">
                                                    <h3>{{advisor.people.FullName}}</h3>
                                                </a>
                                            </div>
                                            <div class="designation">
                                                <p><em>{{advisor.people.designation}}</em></p>
                                            </div>
                                            <div class="uni">
                                                <p>{{advisor.people.university}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4"></div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="rf_title" id="team3">
                            <div class="message_title">
                                <div class="committee_title">
                                    <h3>Lead <span> Researcher</span></h3>
                                    <!-- <img src="{% static 'images/MIR-Icon.png' %}" alt="BUBT Logo"> -->
                                </div>
                            </div>
                        </div>
                        
                        <div class="people_list">
                            <div class="row">
                                {% for advisor in lead_researchers %}
                                <div class="col-md-3">
                                    <div class="single_people">
                                        <div class="single_people_image">
                                            {% if advisor.people.img %}
                                            <img src="{{advisor.people.img.url}}" alt="photo">
                                            {% endif %}
                                            
                                        </div>
                                        <div class="single_people_bio">
                                            <div class="name">
                                                <a href="{% url 'peopleDetailsView' advisor.people.slug %}">
                                                    <h3>{{advisor.people.FullName}}</h3>
                                                </a>
                                            </div>
                                            <div class="designation">
                                                <p><em>{{advisor.people.designation}}</em></p>
                                            </div>
                                            <div class="uni">
                                                <p>{{advisor.people.university}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="rf_title" id="team4">
                            <div class="message_title">
                                <div class="committee_title">
                                    <h3>RESEARCHERS</h3>
                                    <!-- <img src="{% static 'images/MIR-Icon.png' %}" alt="BUBT Logo"> -->
                                </div>
                            </div>
                        </div>
                        
                        <div class="people_list">
                            <div class="row">
                                {% for coordinator in researcher %}
                                <div class="col-md-3">
                                    <div class="single_people">
                                        <div class="single_people_image">
                                            {% if coordinator.people.img %}
                                            <img src="{{coordinator.people.img.url}}" alt="photo">
                                            {% endif %}
                                            
                                        </div>
                                        <div class="single_people_bio">
                                            <div class="name">
                                                <a href="{% url 'peopleDetailsView' coordinator.people.slug %}">
                                                    <h3>{{coordinator.people.FullName}}</h3>
                                                </a>
                                            </div>
                                            <div class="designation">
                                                <p><em>{{coordinator.people.designation}}</em></p>
                                            </div>
                                            <div class="uni">
                                                <p>{{coordinator.people.university}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="rf_title" id="team5"> 
                            <div class="message_title">
                                <div class="committee_title">
                                    <h3>Research <span>Assistants</span></h3>
                                    <!-- <img src="{% static 'images/MIR-Icon.png' %}" alt="BUBT Logo"> -->
                                </div>
                            </div>
                        </div>
                        <div class="people_list">
                            <div class="row">
                                {% for assistant in research_assistants %}
                                <div class="col-md-3">
                                    <div class="single_people">
                                        <div class="single_people_image">
                                            <img src="{{assistant.people.img.url}}" alt="photo">
                                        </div>
                                        <div class="single_people_bio">
                                            <div class="name">
                                                <a href="{% url 'peopleDetailsView' assistant.people.slug %}">
                                                    <h3>{{assistant.people.FullName}}</h3>
                                                </a>
                                            </div>
                                            <div class="designation">
                                                <p><em>{{assistant.people.designation}}</em></p>
                                            </div>
                                            <div class="uni">
                                                <p>{{assistant.people.university}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="rf_title" id="team6">
                            <div class="message_title">
                                <div class="committee_title">
                                    <h3>RESEARCH INTERN <span>STUDENTS </span></h3>
                                </div>
                            </div>
                        </div>
                        <div class="people_list">
                            <div class="row">
                                {% for student in research_interns %}
                                <div class="col-md-3">
                                    <div class="single_people">
                                        <div class="single_people_image">
                                            <img src="{{student.people.img.url}}" alt="photo">
                                        </div>
                                        <div class="single_people_bio">
                                            <div class="name">
                                                <a href="{% url 'peopleDetailsView' student.people.slug %}">
                                                    <h3>{{student.people.FullName}}</h3>
                                                </a>
                                            </div>
                                            <div class="designation">
                                                <p><em>{{student.people.designation}}</em></p>
                                            </div>
                                            <div class="uni">
                                                <p>{{student.people.university}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>

                        
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}