{% extends 'basic.html' %}


{% load static %}
{% block body %}
    <section class="mbr-section mbr-section--relative mbr-section--fixed-size mbr-parallax-background mbr-after-navbar"
        id="content5-94" data-rv-view="79"
        style="background-image: url(assets/images/csm-galerie-campusmil-005-7a9a2f188c-1920x1280.jpg);">
        <div class="mbr-section__container container mbr-section__container--isolated">
            <div class="mbr-header mbr-header--wysiwyg row">
                <div class="col-sm-8 col-sm-offset-2">
                    <h3 class="mbr-header__text">OPEN POSITIONS</h3>

                </div>
            </div>
        </div>
    </section>


    <div class="container pb-5">
        <div>
            <div class="d-flex pt-5 justify-content-between">
                <h2>Open Positions</h2>
            </div>
            <hr style="height: 1%; width: 100%">
            <div class="py-4 row">
                <div class="post-content">
                    <h3 class="pb-0" id="design-of-multivalent-antibodies">
                        Research Areas -
                        <span style="font-size: 1.3rem">Machine Learning, Deep Learning, Bioinformatics, and
                            Computational Biology</span>
                    </h3>
                    <hr style="height: 1%; width: 100%">
                    <h3 class="pt-4" id="modeling-of-the-hiv-gp160-complex">
                        Research Assistant
                    </h3>
                    <hr style="height: 1%; width: 100%">
                    <p style="font-style: italic">
                        Open, accepting applications. This circular is valid until
                        position fillup
                    </p>

                    <p>
                        Highly motivated, creative, and hardworking
                        students/researchers, targeting Ph.D., preferably having
                        some background in Machine Learning and Bioinformatics can
                        send resume (not web link) with all scores and publications
                        (if any) to Dr. S. M. Hasan Mahmud at hasan.swe@aiub.edu.
                    </p>
                    <p>International students can start research online.</p>

                    <h3 class="pt-4" id="modeling-of-the-hiv-gp160-complex">
                        Masters Research/Thesis Students
                    </h3>
                    <hr style="height: 1%; width: 100%">
                    <p>
                        We have an open position for a Master's Student on Machine
                        Learning and Bioinformatics. The student will develop novel
                        machine learning models for different real life problems and
                        support our ongoing research activities in the field.
                    </p>

                    <p>
                        To apply, please send an informal email including a brief
                        motivation letter and CV, as well as relevant degree
                        certificates, by email to Dr. S. M. Hasan Mahmud
                        (hasan.swe@aiub.edu)
                    </p>

                    <h3 class="pt-4" id="modeling-of-the-hiv-gp160-complex">
                        Undergraduate Research/Thesis Students
                    </h3>
                    <hr style="height: 1%; width: 100%">
                    <p>
                        We always have openings for Bachelor projects/thesis and
                        encourage students interested in one of the group's research
                        areas to apply. We are open to additional suggestions for
                        possible thesis topics within the research area; if you are
                        interested, please contact Dr. S. M. Hasan Mahmud
                        (hasan.swe@aiub.edu.) for further information.
                    </p>

                    <h4 class="pb-1 pt-4" id="modeling-of-the-hiv-gp160-complex">
                        Qualifications
                    </h4>
                    <ul>
                        <li>To know the concept and design of processes and their implementation on Machine Learning
                            (ML) and Deep learning (DL) techniques. </li>
                        <li>To know the concept and application of the Machine learning problem and its solution.</li>
                        <li>To know the concept and application of different feature selection and data balancing
                            problems.</li>
                        <li>To know the concept of single, ensemble classifiers and their theoretical and practical
                            application.</li>
                        <li>To know the details technical aspects of deep learning (DL) </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>



    {% endblock %}