{% extends 'basic.html' %}


{% load static %}
{% block body %}
    <section class="mbr-section mbr-section--relative mbr-section--fixed-size mbr-parallax-background mbr-after-navbar"
        id="content5-94" data-rv-view="79"
        style="background-image: url({% static '/images/4.jpg' %});">
        <div class="mbr-section__container container mbr-section__container--isolated">
            <div class="mbr-header mbr-header--wysiwyg row">
                <div class="col-sm-8 col-sm-offset-2">
                    <h3 class="mbr-header__text">OPEN POSITIONS</h3>

                </div>
            </div>
        </div>
    </section>


    <div class="container pb-5">
        <div>
            <div class="d-flex pt-5 justify-content-between">
                <h2>Open Positions</h2>
            </div>
            <hr style="height: 1%; width: 100%">
            <div class="py-4 row">
                <div class="post-content">
                    <h3 class="pb-0" id="design-of-multivalent-antibodies">
                        Research Areas -
                        <span style="font-size: 1.3rem">{% for s in data2 %}{{s}},{% endfor %}</span>
                    </h3>
                    <hr style="height: 1%; width: 100%">
                    {% for d in data %}
                    <h3 class="pt-4" id="modeling-of-the-hiv-gp160-complex">
                        {{d.category}}
                    </h3>
                    <hr style="height: 1%; width: 100%">
                    <h4 style="font-style: italic">
                        {{d.title}}
                    </h4>

                    <p>
                        {{d.description | safe}}
                    </p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>



    {% endblock %}