{% extends 'basic.html' %}

{% block title %}
AMIR Lab | Publications
{% endblock title %} 

{% load static %}
{% block body %}
<style>
    .tab-pane {
  display: none;
  padding: 15px;
  border: 1px solid #ccc;
}
</style>

    <section class="mbr-section mbr-section--relative mbr-section--fixed-size mbr-parallax-background mbr-after-navbar"
        id="content5-94" data-rv-view="79"
        style="background-image: url({% static '/images/4.jpg' %});">
        <div class="mbr-section__container container mbr-section__container--isolated">
            <div class="mbr-header mbr-header--wysiwyg row">
                <div class="col-sm-8 col-sm-offset-2">
                    <h3 class="mbr-header__text">PUBLICATIONS</h3>

                </div>
            </div>
        </div>
    </section>

    <div class="single-services">
        <div class="container">
            <div class="col-md-12">
                    <div class="iot_cc_rf">
                        <div class="message_title">
                            <div class="committee_title">
                                <h3>Published <span>Articles</span></h3>
                                <img src="{% static 'images/MIR-Icon.png' %}" alt="BUBT Logo">
                            </div>
                        </div>
                        <!-- publications.html -->

                        <div class="list_of_re">
                            {% for year, categories in publications_dict.items %}
                                <button class="accordion">{{ year }}</button>
                                <div class="panel for_bgborder">
                                    <div class="academic_block">
                                        <div class="faculty_body">
                                            <!-- <nav>
                                              <div class="nav nav-tabs custom_event" id="nav-tab" role="tablist">
                                                {% for category_name, publications in categories.items %}
                                                  <button class="nav-link custom_event_btn" id="nav-{{ category_name|lower }}-tab" data-bs-toggle="tab" data-bs-target="#nav-{{ category_name|lower }}" type="button" role="tab" aria-controls="nav-{{ category_name|lower }}" aria-selected="false">{{ category_name }}</button>
                                                {% endfor %}
                                              </div>
                                            </nav>
                                            <div class="tab-content" id="nav-tabContent">
                                              {% for category_name, publications in categories.items %}
                                                <div class="tab-pane fade" id="nav-{{ category_name|lower }}" role="tabpanel" aria-labelledby="nav-{{ category_name|lower }}-tab">
                                                  {% if publications %}
                                                    <div class="{{ category_name|lower }} table-responsive">
                                                      {% for publication in publications %}
                                                        {{ publication.details|safe }}
                                                      {% endfor %}
                                                    </div>
                                                  {% else %}
                                                    <p>No publications in this category.</p>
                                                  {% endif %}
                                                </div>
                                              {% endfor %}
                                            </div> -->
                                            
                                            
                                                  {% for category_name, publications in categories.items %}
                                                  <button class="nav-link custom_event_btn" id="nav-{{ category_name|lower }}-tab" data-bs-toggle="tab" data-bs-target="#nav-{{ category_name|lower }}" type="button" role="tab" aria-controls="nav-{{ category_name|lower }}" aria-selected="false">{{ category_name }}</button>
                                                    {% if publications %}
                                                      <div class="{{ category_name|lower }} table-responsive">
                                                        {% for publication in publications %}
                                                          {{ publication.details|safe }}
                                                        {% endfor %}
                                                      </div>
                                                    {% else %}
                                                      <p>No publications in this category.</p>
                                                    {% endif %}
                                                  
                                                {% endfor %}

                                          </div>
                                          
                                    </div>
                                </div>
                            {% endfor %}
                            
                        </div>

                    </div>
            </div>

        </div>
    </div>

    <br><br>

    <!-- Add Bootstrap 4 JS -->
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjN+6koA6B/K94UgMWbpkR0YqjQbF5J" crossorigin="anonymous"></script> -->

    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;
        
        for (i = 0; i < acc.length; i++) {
          acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
              panel.style.maxHeight = null;
            } else {
              panel.style.maxHeight = panel.scrollHeight + "px";
            }
          });
        }
     
document.addEventListener('DOMContentLoaded', function() {
    $('.nav-link.custom_event_btn').click(function() {
    var targetPanel = $(this).attr('data-bs-target');
    $(targetPanel).addClass('active show');
  });
});
    </script>

{% endblock %}
