{% extends 'basic.html' %}

{% block title %}
MIR Lab | Publications
{% endblock title %}

{% load static %}
{% block body %}

    <section class="mbr-section mbr-section--relative mbr-section--fixed-size mbr-parallax-background mbr-after-navbar"
        id="content5-94" data-rv-view="79"
        style="background-image: url({% static '/images/4.jpg' %});">
        <div class="mbr-section__container container mbr-section__container--isolated">
            <div class="mbr-header mbr-header--wysiwyg row">
                <div class="col-sm-8 col-sm-offset-2">
                    <h3 class="mbr-header__text">PUBLICATIONS</h3>

                </div>
            </div>
        </div>
    </section>

    <div class="single-services">
        <div class="container">
            <div class="row" id="tabs">
                <div class="col-md-4">
                    <ul>
                        <li><a href='publications.html#tabs-1'>Authored Books<i class="fa fa-angle-right"></i></a></li>
                        <li><a href='publications.html#tabs-2'>Edited Volumes<i class="fa fa-angle-right"></i></a></li>
                        <li><a href='publications.html#tabs-3'>Journal Papers<i class="fa fa-angle-right"></i></a></li>
                        <li><a href='publications.html#tabs-4'>Book Chapters<i class="fa fa-angle-right"></i></a></li>
                        <li><a href='publications.html#tabs-5'>Proceedings<i class="fa fa-angle-right"></i></a></li>
                        <li><a href='publications.html#tabs-6'>Conference Papers<i class="fa fa-angle-right"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-8">
                    <section class='tabs-content'>
                        <article id='tabs-1'>

                            <blockquote>
                                Authored Books
                            </blockquote>
                            <img src="assets/images/authoredbooks.png" alt="">
                            <ol>
                                {% for book in Authored_books %}
                                <li>{% for author in book.Author.all %}{{author}}{% if not forloop.last %}, {% endif %}{% endfor %}, <a
                                        href="{{book.DOI}}" target=blank<>{{book.Publication_Title}} </a>,{{book.abstract}}
                                </li>
                                {% endfor %}
                            </ol>
                        </article>

                        <article id='tabs-2'>

                            <blockquote>
                                Edited Volumes
                            </blockquote>
                            <img src="assets/images/volume.jpeg" alt="">
                            <ol>
                                {% for book in Edited_Volumes %}
                                <li>{% for author in book.Author.all %}{{author}}{% if not forloop.last %}, {% endif %}{% endfor %}, <a
                                        href="{{book.DOI}}">{{book.Publication_Title}}</a>,{{book.abstract}}
                                </li>
                                {% endfor %}
                            </ol>
                        </article>




                        <article id='tabs-3'>

                            <blockquote>
                                Journal Papers
                            </blockquote>
                            <img src="assets/images/Journals.jpeg" alt="">
                            <ol>
                                {% for book in Journal_Papers %}
                                <li>{% for author in book.Author.all %}{{author}}{% if not forloop.last %}, {% endif %}{% endfor %}, <a
                                        href="{{book.DOI}}">{{book.Publication_Title}}</a>,{{book.abstract}}
                                </li>
                                {% endfor %}
                            </ol>
                        </article>




                        <article id='tabs-4'>

                            <blockquote>
                                Book Chapters
                            </blockquote>
                            <img src="assets/images/BookChapter.jpg" alt="">
                            <ol start="1">
                               {% for book in Book_Chapters %}
                                <li>{% for author in book.Author.all %}{{author}}{% if not forloop.last %}, {% endif %}{% endfor %}, <a
                                        href="{{book.DOI}}">{{book.Publication_Title}}</a>,{{book.abstract}}
                                </li>
                                {% endfor %}
                            </ol>
                        </article>




                        <article id='tabs-5'>

                            <blockquote>
                                Conference Proceedings
                            </blockquote>
                            <img src="assets/images/confproc.jpeg" alt="">
                            <ol start="1">
                               {% for book in Conference_Proceedings %}
                                <li>{% for author in book.Author.all %}{{author}}{% if not forloop.last %}, {% endif %}{% endfor %}, <a
                                        href="{{book.DOI}}">{{book.Publication_Title}}</a>,{{book.abstract}}
                                </li>
                                {% endfor %}
                            </ol>
                        </article>

                        <article id='tabs-6'>
                            <blockquote>
                                Conference Papers
                            </blockquote>
                            <img src="assets/images/conf.jpeg" alt="">
                            <ol start="1">
                                {% for book in Conference_Papers %}
                                <li>{% for author in book.Author.all %}{{author}}{% if not forloop.last %}, {% endif %}{% endfor %}, <a
                                        href="{{book.DOI}}">{{book.Publication_Title}}</a>,{{book.abstract}}
                                </li>
                                {% endfor %}
                            </ol>
                        </article>
                    </section>
                </div>
            </div>
        </div>
    </div>

    <br><br>

    {% endblock %}