{% extends 'basic.html' %}

{% block title %}
AMIRL | Quantum Machine Learning (QML)
{% endblock title %}

{% load static %}
{% block body %}
<section class="mbr-section mbr-section--relative mbr-section--fixed-size mbr-parallax-background mbr-after-navbar"
id="content5-94" data-rv-view="79"
style="background-image: url({% static '/images/4.jpg' %});">
<div class="mbr-section__container container mbr-section__container--isolated">
    <div class="mbr-header mbr-header--wysiwyg row">
        <div class="col-sm-8 col-sm-offset-2">
            <h3 class="mbr-header__text">Quantum Machine Learning (QML)</h3>

        </div>
    </div>
</div>
</section>
<section id="page-content" class="page-wrapper">

    <div class="research_topic ptb-80">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="iot_cc_rf">
                        <div class="message_title">
                            <div class="committee_title">
                                <h3>Quantum Machine <span>Learning (QML)</span></h3>
                                <p>{{data.short_bio}}</p>
                                <img src="{% static 'images/icons/bubt.png' %}" alt="">
                            </div>
                        </div>
                        <div class="list_of_re">
                            <div class="row">
                                {% for post in QML %}
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <a href="{% url 'peopleDetailsView' post.pk %}">
                                        <div class="re_contributor">
                                            {% if post.img %}
                                            <img src="{{ post.img.url }}" alt="">
                                            {% endif %}
                                            <div class="contributor_intro">
                                                <h4>{{post.FullName}}</h4>
                                                {% comment %} <p>{{post.designation}}</p> {% endcomment %}
                                                <p>{{post.category}}</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                {% empty %}
                                <div>
                                    <h3>Nothing Found</h3>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}