{% extends 'basic.html' %}

{% block title %}
AMIRL | RESEARCH UNITS
{% endblock title %}

{% load static %}
{% block body %}

    <section class="mbr-section mbr-section--relative mbr-section--fixed-size mbr-parallax-background mbr-after-navbar"
        id="content5-94" data-rv-view="79"
        style="background-image: url({% static '/images/4.jpg' %});">
        <div class="mbr-section__container container mbr-section__container--isolated">
            <div class="mbr-header mbr-header--wysiwyg row">
                <div class="col-sm-8 col-sm-offset-2">
                    <h3 class="mbr-header__text">Research Units</h3>

                </div>
            </div>
        </div>
    </section>

    <div class="research_field_area ptb-80">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="rf_outerwrap">
                        <div class="rf_title">
                            <div class="message_title">
                                <div class="committee_title">
                                    <h3>Research <span>Units </span></h3>
                                    <!-- <img src="{% static 'images/icons/bubt.png' %}" alt=""> -->
                                </div>
                            </div>
                        </div>
                        <div class="rf_body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="single_rf_block itm_1">
                                        <div class="rf_icon icn_1">
                                            <img class="s-img" src="{% static '/images/RS-1.jpeg' %}" alt="Photo">
                                            {% comment %} <i class="fa fa-database"></i> {% endcomment %}
                                        </div>
                                        <div class="rf_name">
                                            <a href="{% url 're_cml' %}">
                                                <h3>Classical Machine Learning (CML)</h3>
                                            </a>
                                            <p><em>Data is the new science. Big Data holds the answers.</em></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="single_rf_block itm_2">
                                        <div class="rf_icon icn_2">
                                            {% comment %} <i class="fa fa-cloud-upload"></i> {% endcomment %}
                                            <img class="s-img" src="{% static '/images/qml.jpeg' %}" alt="Photo">
                                        </div>
                                        <div class="rf_name">
                                            <a href="{% url 're_qml' %}">
                                                <h3>Quantum Machine Learning (QML)</h3>
                                            </a>
                                            <p><em>Cloud computing is the third wave of the digital revolution.</em></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="single_rf_block itm_3">
                                        <div class="rf_icon icn_3">
                                            <img class="s-img" src="{% static '/images/RS-3.jpeg' %}" alt="Photo">
                                            {% comment %} <i class="fa fa-rss"></i> {% endcomment %}
                                        </div>
                                        <div class="rf_name">
                                            <a href="{% url 're_nlp' %}">
                                                <h3>Natural Language Processing (NLP)</h3>
                                            </a>
                                            <p><em>We demand privacy, yet we glorify those that break into
                                                    computers.</em></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="single_rf_block itm_4">
                                        <div class="rf_icon icn_4">
                                            {% comment %} <i class="fa fa-cogs"></i> {% endcomment %}
                                            <img class="s-img" src="{% static '/images/RS-4.jpeg' %}" alt="Photo">
                                        </div>
                                        <div class="rf_name">
                                            <a href="{% url 're_rnn' %}">
                                                <h3>Recurrent Neural Network (RNN)</h3>
                                            </a>
                                            <p><em>It's fun to work the robotic arm in part because it's really a team
                                                    effort.</em></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="single_rf_block itm_5">
                                        <div class="rf_icon icn_5">
                                            <img class="s-img" src="{% static '/images/RS-5.jpeg' %}" alt="Photo">
                                            {% comment %} <i class="fa fa-bar-chart"></i> {% endcomment %}
                                        </div>
                                        <div class="rf_name">
                                            <a href="{% url 're_xai' %}">
                                                <h3>Explainable AI (XAI)</h3>
                                            </a>
                                            <p><em>Human-Computer Interaction is a fundamental part of the digital
                                                    world.</em></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="single_rf_block itm_6">
                                        <div class="rf_icon icn_6">
                                            {% comment %} <i class="fa fa-file"></i> {% endcomment %}
                                            <img class="s-img" src="{% static '/images/mu.jpeg' %}" alt="Photo">
                                        </div>
                                        <div class="rf_name">
                                            <a href="{% url 're_mu' %}">
                                                <h3>Federated Learning</h3>
                                            </a>
                                            <p><em>No research without action, no action without research.</em></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="single_rf_block itm_5">
                                        <div class="rf_icon icn_5">
                                            <img class="s-img" src="{% static '/images/computervision.jpeg' %}" alt="Photo">
                                            {% comment %} <i class="fa fa-bar-chart"></i> {% endcomment %}
                                        </div>
                                        <div class="rf_name">
                                            <a href="{% url 're_cv' %}">
                                                <h3>Computer Vision (CV)</h3>
                                            </a>
                                            <p><em>Human-Computer Interaction is a fundamental part of the digital
                                                    world.</em></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="single_rf_block itm_6">
                                        <div class="rf_icon icn_6">
                                            <img class="s-img" src="{% static '/images/RL-1.jpeg' %}" alt="Photo">
                                        </div>
                                        <div class="rf_name">
                                            <a href="{% url 're_others' %}">
                                                <h3>Reinforcement Learning</h3>
                                            </a>
                                            <p><em>No research without action, no action without research.</em></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}