{% extends 'basic.html' %}

{% block title %}
AMIRL | Training
{% endblock title %}

{% load static %}
{% block body %}
    <section class="mbr-section mbr-section--relative mbr-section--fixed-size mbr-parallax-background mbr-after-navbar"
        id="content5-94" data-rv-view="79"
        style="background-image: url({% static '/images/4.jpg' %});">
        <div class="mbr-section__container container mbr-section__container--isolated">
            <div class="mbr-header mbr-header--wysiwyg row">
                <div class="col-sm-8 col-sm-offset-2">
                    <h3 class="mbr-header__text">TRAINING PROGRAMS</h3>

                </div>
            </div>
        </div>
    </section>


    <div class="more-info about-info">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="more-info-content">
                        <div class="row">
                            <div class="">
                                <div class="right-content">
                                    <h2>Volunteer <em>Internship</em> Program</h2>
                                    <p>Advanced Machine Intelligence Research Labs (AMIRL) provides an international
                                        forum to share the latest research results, ideas and experiences in intelligent
                                        systems design and applications by bringing together the leading communities in
                                        this research space. We are looking for dynamic and creative individuals who are
                                        willing to learn and advance their research knowledge in Artificial Intelligence
                                        and Machine Learning.
                                    </p>
                                    <br>
                                    {% comment %} <h3>Joining benefits!</h3>
                                    <br>
                                    <br>
                                    <li>Work with International Team</li>
                                    <li>Research exposure</li>
                                    <li>Networking</li>
                                    <li>Flexible timings</li>
                                    <li>Exposure to quality publishing</li>
                                    <br>
                                    <br>
                                    <h3>Requirements</h3>
                                    <br>
                                    <br>
                                    <li>Full-time students pursuing UG-PG education in STEM</li>
                                    <li>Strong research and analytical skills</li>
                                    <li>Programming knowledge</li>
                                    <br>
                                    <br>
                                    <p>
                                        <b>Send your CV here</b> <i class="fa fa-hand-o-right"></i>
                                        info@amirl.org<!-- create a new QR code. -->
                                    </p> {% endcomment %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endblock %}